<div class="pure-g">
        <div class="pure-u-1">
                <h1>Opsee Debug</h1>
                <h2>Headers</h2>
                <table class="pure-table">
                {% for k, v in pairs(headers) do %}
                        <tr>
                                <th>{{k}}</th>
                                <td>{{v}}</td>
                        </tr>
                {% end %}
                </table>
                <h2>User</h2>
                <table class="pure-table">
                {% for k, v in pairs(user) do %}
                        <tr>
                                <th>{{k}}</th>
                                <td>{{v}}</td>
                        </tr>
                {% end %}
                </table>
                <h2>Routes</h2>
                <table class="pure-table">
                {% for k, v in pairs(routes) do %}
                        <tr>
                                <th>{{k}}</th>
                                <td>{{v}}</td>
                        </tr>
                {% end %}
                </table>
        </div>
</div>
